*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: url("../../public/Imgs/tonya3.png") no-repeat center;
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;



}