<nav>
  <div class="menu" id="m1"><img src="assets/imgs/pexels-brigitte-tohm-36757-186861.jpg" alt="Sanduíche de carne"></div>
  <div class="menu" id="m2"><img src="assets/imgs/pexels-valeriya-1639561.jpg" alt="Carne de Forno"></div>
  <div class="menu" id="m3"><img src="assets/imgs/img61232.whqc_900x600q90fpt565fpl499.webp" alt="Frango Alla Diavola"></div>
  <div class="menu" id="m4"><img src="assets/imgs/2329_Z.jpg" alt="Banha Defumada de Porco"></div>
  <div class="menu" id="m5"><img src="assets/imgs/pexels-summerstock-360939.jpg" alt="Sopa de carne e legumes"></div>
  <div class="menu" id="m6"><img src="assets/imgs/online_culinary_school_chicken_liver_pate-1.jpg" alt="Confit de Fígado"></div>
  <div class="menu" id="m7"><img src="assets/imgs/pexels-pedrofurtadoo-28902897.jpg" alt="Espetinho de carne"></div>
  <div class="menu" id="m8"><img src="assets/imgs/pexels-minan1398-698549.jpg" alt="Lamen de carne"></div>
  <div class="menu" id="m9"><img src="assets/imgs/pexels-qjpioneer-5305438.jpg" alt="Milanesa de carne"></div>
  <div class="menu" id="m10" ><img src="assets/imgs/pexels-angela-khebou-259135285-12931072.jpg" alt="Goulash"></div>
</nav>
