<div class="gallery">
  <figure class="card">
    <a id="a0" href="" target="_blank" onclick="">
      <img src="./assets/imgs/k1.png" alt="">
      <h3>Jiro</h3></a>
  </figure>
  <figure class="card">
    <a href=""  id="a1" target="_blank">
      <img src="./assets/imgs/k2.png" alt="">
      <h3>Katja</h3></a>
  </figure>
  <figure class="card">
    <a href="" id="a2" target="_blank">
      <img src="./assets/imgs/k3.png" alt="">
      <h3>Mika</h3></a>
  </figure>
  <figure class="card">
    <a href="" target="_blank" id="a3">
      <img src="./assets/imgs/k4.png" alt="">
      <h3>Takita</h3></a>
  </figure>
  <figure class="card">
    <a href="" target="_blank" id="a4">
      <img src="./assets/imgs/k5.png" alt="">
      <h3>Vanabelle</h3></a>
  </figure>
  <figure class="card">
    <a href="" target="_blank" id="a5">
      <img src="./assets/imgs/k6.png" alt="">
      <h3>Yoshi</h3></a>
  </figure>

</div>
